[book]
title = "nix-book"
authors = ["saylesss88"]
language = "en"
src = "src"

[preprocessor.rss-feed]
renderers = ["html"]

[preprocessor.frontmatter-strip]
renderers = ["html"]

[preprocessor.toc]
command = "mdbook-toc"
renderers = ["html"]

[output.html]
default-theme = "navy"
preferred-dark-theme = "navy"
site-url = "https://saylesss88.github.io/"
additional-css = ["theme/extra.css", "theme/rss-button.css"]
additional-js = ["theme/extra.js", "theme/rss-button.js"]

[output.html.code]
hidelines = {nix = "~"}

[preprocessor.content-collections]
renderers = ["html"]
#[output.html.print]
# enable = true

[preprocessor.content-loader]
command = "mdbook-content-loader"
renderers = ["html"]
after = ["content-collections"]
# inject_all = true

[preprocessor.kanagawa-theme]
renderers = ["html"]
before = ["content-loader", "content-collections"]
# Landing page text
landing_title = "nix-book"
landing_subtitle = "Notes, posts, and more"

# Column headers
header_latest = "Latest posts"
header_notes = "Recent notes"
header_tags = "Popular tags"

css_import = "/assets/dracula.css"
disable_builtin_css = false
