name: Deploy mdBook to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main repository (mdBook project)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry & build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: latest

      - name: Install preprocessors from crates.io
        run: |
          cargo install mdbook-frontmatter-strip --locked
          cargo install mdbook-toc --locked
          cargo install mdbook-rss-feed --locked
          cargo install mdbook-kanagawa-theme --locked

      - name: Add cargo bin to PATH
        run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Build mdBook
        run: mdbook build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.PAT_TOKEN_NEW }}
          publish_dir: ./book
          publish_branch: gh-pages
          external_repository: saylesss88/saylesss88.github.io
          commit_message: "Deploy nix-book: ${{ github.sha }}"
