# .github/workflows/deploy-book.yml
name: Deploy mdBook to User GitHub Pages
on:
  push:
    branches:
      - main # This workflow runs when you push to the 'main' branch of 'nix-book'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout mdBook source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "latest"

      - name: Install mdbook-toc preprocessor
        run: cargo install mdbook-toc --force

      - name: Build mdbook-rss preprocessor
        working-directory: ./mdbook-rss   # path to your preprocessor crate
        run: cargo build --release

      - name: Build mdBook
        run: mdbook build

      - name: Deploy to saylesss88.github.io
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.PAT_TOKEN }}
          publish_dir: ./book
          publish_branch: main
          external_repository: saylesss88/saylesss88.github.io
